a.homepage-link {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.logo {
  font-weight: bold;
  font-size: 32px;
  height: 32px;
  line-height: 32px;
}

.subtitle {
  font-size: 8px;
}

.navbar-container {
  background: #9d27b0;
  box-shadow:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}


.logo-container {
  padding: 10px;
}

.navbar-link-container {
  display: inline-block;
}

.navbar-link-container a {
  color: white;
}
