.entries-body {
  padding: 10px;
}

.entries-table {
  width: 640px;
  margin: 10px;
}

tr.entry-detail-row {
  height: 0;
}

tr.entry-row:not(.expanded-row):hover {
  background: #595959;
}

tr.entry-row:not(.expanded-row):active {
  background: #878787;
}

.entry-row td {
  border-bottom-width: 0;
}

.entry-detail {
  overflow: hidden;
  display: flex;
  min-height: 78px;
}

.details-wrapper {
  padding-bottom: 16px;
  position: relative;
  width:100%
}

.details-wrapper > div {
  display: inline-block;
}

.time-detail {
  position: absolute;
  top: 0;
}

.mat-column-ph, .mat-column-gh, .mat-column-kh, .mat-column-ammonia, .mat-column-nitrites, .mat-column-nitrates {
  width: 75px;
}

.details-info {
  width: 125px;
}

.entry-notes {
  padding-left:20px;
  border-left: 1px white solid;
}

.details-buttons {
  position:absolute;
  right:0;
  bottom:0;
  margin-bottom: 5px;
}

.entry-notes {
  max-width: 372px;
}
